/*----GLOBAL SETTINGS----*/

/*--Variables--*/
:root {
    --xl: 1280px;
    --section-primary: rgb(9, 18, 57);
    --section-secondary: rgb(15, 119, 174);
    --text-colour: rgb(220, 220, 220);
}

/*--Fonts--*/
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--text-colour);
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    
}


/*--Reset Styles--*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;  
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*--Background Settings--*/
.bg-primary {
  background-color: var(--section-primary);
  color: var(--text-colour)
}

.bg-secondary {
  background-color: var(--section-secondary);
  color: var(--section-primary);
}

/*----NAVIGATION BAR SETTINGS----*/

/*--Nav tag settings--*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 3rem;
    opacity: 0.9;
    overflow-y: hidden;
    z-index: 5;
    width: 100%;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

/*--Nav Logo Settings--*/
nav img {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
}


/*--Nav Buttons List Settings--*/
#nav-buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    transform: translateX(4%);
}

/*--Individual Nav Button Settings--*/
.nav-button {
    padding: 0.6rem;
    font-size: 16px;
    border: 2px solid var(--section-secondary);
    border-radius: 40px;
    text-align: center;
    width: 10.6rem;
    display: inline-block;
    box-sizing: border-box;
}

/*--Remove Hyperlink Unlerline--*/
.nav-button:link {
    text-decoration: none;  
}

/*--Change Button with Mouse Hover--*/
.nav-button:hover {
    background-color: var(--section-secondary);
    color: white;
}

/*----FOOTER SETTINGS----*/

/*--Footer Links div Settings--*/
#footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 145px;
    position: relative;
    overflow: hidden
}

#footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    position: absolute;
    right: 64%; 
}

.footer-button {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid var(--section-primary);
    border-radius: 40px;
    padding: 1rem;
    width: 6rem;
    display: inline-block;
    
}

.footer-button:hover {
    background-color: var(--section-primary);
    color: white;
}

#personal-logo {
    width: 150px;
    height: 150px;
    transform: translateY(2px);
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
}

footer img {
    border-radius: 200px;
}

#footer-logos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20vh;
    position: absolute;
    transform: translateX(100%);
}

#footer-logos img {
    border-radius: 0px;
}


/*----GENERAL CLASS SETTINGS----*/

/*--Headings--*/
.section-title {
    text-align: center;
    font-size: 38px;
    font-style: italic;
    background-color: var(--section-primary);
    margin-top: 60px;
    margin-bottom: 25px;
    text-shadow: 5px 5px black;
    border-top: 2px solid var(--section-secondary);
    border-bottom: 2px solid var(--section-secondary);
    padding: 10px;
}

.section-subheading {
    text-align: center;
    font-size: 28px;
    font-style: italic;
    padding-top: 10px;
    text-shadow: 5px 5px black;
    border-bottom: 2px solid var(--section-secondary);
    padding-bottom: 5px;
}

.project-title {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
}

.contributions-heading {
    background-color: var(--section-secondary);
    padding-left: 10px;
}


/*--Card Settings--*/
.card {
    position: relative;
    width: 300px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    height: max-content;
    overflow: hidden;
    transition: 1.0s ease;
    border-radius: 20px;
}

.card img {
    width: 300px;
    height: 300px;
    transition: 1.0s ease;
}

.card:hover {
  transform: translateY(-0.5rem);
          box-shadow: 0px 3px 14px 2px rgba(0, 0, 15, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 15, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 15, 1.0);
}

.card:hover img {
    transform: scale(1.1);
    overflow: hidden;
}

.project-description {
    background-color: var(--section-secondary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

/*--List Settings--*/
.project-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
}

.project-contributions {
    list-style-type: disc;
    padding-left: 22px;
    padding-bottom: 10px;
    background-color: var(--section-secondary);
}


/*----INDEX PAGE SETTINGS----*/

/*--Intro Video Settings--*/
#intro-video-container {
    height: 67vh;
    overflow: hidden;
}

#intro-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*--Introduction Section--*/
#introduction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    height: 400px;
    width: 80%;
    margin-left: 12.5%;
    height: max-content;
}

#introduction-container p {
    padding: 0.8rem;
    background-color: var(--section-secondary);
    height: max-content;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-top: 3%;
    font-size: 20px;
}

#introduction-container img {
    width: 330px;
    height: 330px;
    border-radius: 200px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-top: 12%;
}

/*--Latest Work Section--*/
#latest-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

#latest-work-container img {
    width: 700px;
    height: 400px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-bottom: 1.5%;
}

#latest-work-container img:hover {
    transform: scale(1.1);
    transition: transform 1.0s ease;
}

#latest-work-container p {
    width: 60%;
    height 60%;
    background-color: var(--section-secondary);
    border-radius: 20px;
    padding: 0.8rem;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-bottom: 5%;
}

#latest-work-container h2 {
    padding: 0;
    margin-top: 1%;
}


/*----PROFESSIONAL PROJECTS PAGE SETTINGS----*/

/*--Recent Projects Section--*/
#recent-projects-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    gap: 5rem;
    transform: translateY(2%);
    height: 950px;
}

#recent-projects-container aside p {
    background-color: var(--section-secondary);
    width: 35vh;
    height: max-content;
    padding: 20px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-left: 20%;
    border-radius: 20px;
    margin-top: 35%;
    font-size: 20px;
}

/*--Older Projects Section--*/
#older-projects-container {
    padding-top: 100px;
    padding-bottom: 150px;
}

#older-projects-list {
    margin-top: 1%;
}


/*----PERSONAL PROJECTS PAGE SETTINGS----*/

/*--Personal Projects Section--*/
#about-personal-projects-container {
    width: 80%;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    transform: translateX(12.5%);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2rem;;
}

#about-personal-projects-container p {
    font-size: 20px;
}

#personal-projects-container {
    padding-bottom: 3rem;
}

#personal-projects-list {
    gap: 16rem;
}

/*--Upcoming Projects Section--*/
#upcoming-projects-container {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    padding-bottom: 5rem;
    margin-right: 12.5%;

}

#upcoming-projects-container aside p {
    background-color: var(--section-secondary);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    width: 50%;
    height: max-content;
    margin-left: 8rem;
    font-size: 20px;
    margin-top: 25%;
}

#upcoming-projects-list {
    gap: 8rem;
}


/*----SKILLS & REFERENCES PAGE SETTINGS----*/

/*--About Me Section--*/
#about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    background-image: url('../Assets/Images/Logos/background-art-big-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 600px;
    overflow: hidden;
    
}

#about-me-container img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    margin-top: 40%;
}

#about-me-container p {
    background-color: var(--section-primary);
    border: 2px solid var(--section-secondary);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    height: max-content;
    width: 30%;
    
    margin-top: 7%;
}

/*--Knowledge & Skills + References Sections--*/

.skill-ref-container {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.skill-ref-list {
    padding: 20px;
    list-style: disc;
}

#knowledge-list {
    margin-left: 10%;
    margin-right: 10%;
}

#qualification-list {
    margin-left: 25%;
}

#references {
    background-image: url('../Assets/Images/Logos/background-art-big.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 0;
    align-items: center;
}

#references-list {
    list-style: none;
}

.reference-people img {
    height: 125px;
    width: 210px;
    border-radius: 20px;
}

.reference-people {
    display: flex; 
    flex-direction: row;
    gap: 30px;
    margin-bottom: 30px;
    background-color: var(--section-primary);
    border: 2px solid var(--section-secondary);
    border-radius: 20px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
}

.reference-info {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding-right: 2%;
}


/*----CONTACT & SHOP PAGE SETTINGS----*/
#contact-page-info-container {
    padding: 20px;
    display: flex;
    justify-content: center
}

#contact-page-info-container p {
    width: 60%;
    background-color: var(--section-secondary);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    font-size: 22px;
    
}
/*--Contact Form Section--*/
#contact-form-container {
    background-image: url('../Assets/Images/Logos/background-art-big-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    height: 800px;
    gap: 50px;
    display: flex;
    justify-content: center
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 17%;
    background-color: var(--section-primary);
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--section-secondary);
    box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
  -webkit-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
     -moz-box-shadow: 0px 3px 14px 2px rgba(0, 0, 30, 1.0);
    transform: translateY(20%);
}

#contact-form label {
    text-align: center;
}

/*--Contact Form Styles for Input Fields--*/
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea,
#contact-form select {
    background-color: var(--section-primary);
    color: var(--text-colour);
    border: 2px solid var(--section-secondary);
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

/*----*/
#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus,
#contact-form select:focus {
    outline: none; /* Removes the default outline */
}


/* Style the submit button */
#contact-form button[type="submit"] {
    background-color: var(--section-secondary); /* Blue background color */
    color: var(--text-colour); /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Change button background color on hover */
#contact-form button[type="submit"]:hover {
    background-color: rgb(0, 104, 159); /* Darker blue on hover */
    color: white; /* Brighter text on hover */
}

#contact-form span {
    font-size: 12px;
    text-align: right;
    transform: translateY(-15px);
}
/*--Find Me Lists--*/
.find-me-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 20px;
}

.find-me-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
}